<template>
  <div class="container" style="min-width: 970px;">
    <nuxt/>
    <footer>
      &copy; Copyright 2018 ООО «АО-ТРАНС». Все права защищены.
    </footer>
    <ToTop/>
  </div>
</template>

<script>
import ToTop from '~/components/ToTop.vue'
import Vue from 'vue';
import api from '~/assets/api.js'

if (process.browser) {
  const {Menu, MenuItem, Icon} = require('iview')

  Vue.component('Menu', Menu)
  Vue.component('MenuItem', MenuItem)
  Vue.component('Icon', Icon)
}

export default {
  components: {
    ToTop
  },
  mounted () {
    if (process.browser) {
      if (this.$router.currentRoute.name.includes('admin')
        && !this.$router.currentRoute.name.includes('login')
        && !api.isLoggedIn()) {
        this.$router.push('/admin/login')
      } else if (this.$router.currentRoute.name.includes('login')
        && api.isLoggedIn()) {
        this.$router.push('/admin')
      }
    }
  }
}
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  min-width: 720px;
  min-height: calc(100vh - 120px);
}

footer {
  background-color: #01223b;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, .7);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
  letter-spacing: 0px;
}

.topbar {
  display: flex;
  justify-content: center;
}

.ivu-menu-dark {
  background: #01223b;
}

.ivu-menu-item-active {
  color: #fac312 !important;
  border-bottom: 3px solid #fac312;
  padding: 0px 3px !important;
  margin: 0px 20px !important;
  height: 60px;
}
</style>
