<template>
  <div class="container">
    <a class="login" href="/admin/login">
      <i class="fas fa-sign-in-alt"></i>
    </a>
    <nuxt/>
    <div id="request-call-panel">
      <span class="request-call-panel-text">Оставьте свой номер и мы вам перезвоним в ближайшее время</span>
      <RequestCall/>
    </div>
    <footer>
      &copy; Copyright 2018 ООО «АО-ТРАНС». Все права защищены.
      <a class="dev-link" href="mailto:leg3nd1991@gmail.com?subject=Разработка сайта">Разработка сайта</a>
    </footer>
    <ToTop/>
  </div>
</template>

<script>
import ToTop from '~/components/ToTop.vue'
import RequestCall from '~/components/RequestCall.vue'

export default {
  components: {
    ToTop,
    RequestCall
  }
}
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

#top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 15%;
  padding-top: 17px;
  text-align: center;
  background-color: #034575;
}

@media screen and (max-width: 1030px) {
    #top-panel {
      flex-direction: column-reverse;
    }
}

#request-call-panel {
  padding: 60px 15%;
  display: flex;
  flex-direction: column;
  background-image: url("/home-2.jpg");
  background-position: center;
  align-items: center;
  justify-content: center;
}

.request-call-panel-text {
  color: white;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

@media screen and (max-width: 1100px) {
    .request-call-panel-text {
      font-size: 26px !important;
    }
}

@media screen and (max-width: 950px) {
    .request-call-panel-text {
      font-size: 22px !important;
    }
}

@media screen and (max-width: 800px) {
    .request-call-panel-text {
      font-size: 18px !important;
    }
}

.login {
  font-weight: 900;
  font-size: 23px;
  color: #1069aa;
  position: absolute;
  width: 38px;
  height: 38px;
  margin: 7px 14px;
  text-align: center;
  line-height: 38px;
  right: 0px;
}

.dev-link {
  color: #5379a0;
  font-size: 14px;
}

.dev-link:hover {
  color: #57a3f3;
}

footer {
  background-color: #01223b;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 32px;
  color: #bdbdbd;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0px;
}
</style>
