@font-face {
  font-family: 'Ico Moon';
  font-style: normal;
  font-weight: 900;
  src: url("../webfonts/icomoon.eot");
  src: url("../webfonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../webfonts/icomoon.woff") format("woff"), url("../webfonts/icomoon.ttf") format("truetype"), url("../webfonts/icomoon.svg#fontawesome") format("svg"); }

.fas-icomoon {
  font-style: normal;
  font-family: 'Ico Moon';
  font-weight: 900; }

.fa-trailer:before {
  content: "\e900"; }
