<template>
  <div class="driver-info">
    <div class="driver-info-img-name-block">
      <img class="driver-info-img" :src="avatarUrl"/>
      <div class="driver-info-name">
        {{driver.name}}
      </div>
    </div>
    <div v-for="e in data" :key="e.title">
      <div class="separator"></div>
      <div class="driver-info-block">
        <div class="driver-info-title">
          {{translations[e.title]}}
        </div>
        <button v-if="hidden[e.title]" v-on:click="show(e.title)" class="request-call-button">
          показать
        </button>
        <div v-else class="driver-info-content">
          <span class="driver-info-row" v-for="r in e.data" :key="r">{{r}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '~/assets/api.js'

export default {
  props: ['driver'],
  data() {
    let {data, hidden} = this.getDriverInfo()

    return {
      avatarUrl: `http://ao-trans.com/api/frontend/avatar/` + this.driver.avatarId,
      data,
      hidden,
      translations: {
        phone: 'Телефон',
        drivingLicense: 'Водит. удост.',
        truck: 'Автомобиль',
        trailer: 'Прицеп'
      }
    }
  },
  methods: {
    toArray(arg) {
      switch (arg.constructor.name) {
        case 'Array':
          return arg
          break
        case 'Object':
          let {id, _id, ...data} = arg
          return Object.keys(data).map((key) => arg[key])
          break
        default:
          return [arg]
      }
    },
    show(key) {
      this.hidden[key] = false
    },
    getDriverInfo() {
      let {id, _id, avatarId, truckId, trailerId, image, name, ...data} = this.driver
      const hiddenFields = ['phone']
      let hidden = {}

      data = Object.keys(data).map((key) => {
        hidden[key] = hiddenFields.includes(key)

        return {
          title: key,
          data: this.toArray(data[key])
        }
      })

      return {data, hidden};
    }
  }
}
</script>

<style>
.driver-info {
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid rgba(16, 105, 170, 0.2);
  border-radius: 2px;
}

.driver-info-img-name-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.driver-info-img {
  width: 72px;
  height: 72px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1069aa;
  font-size: 23px;
  border-radius: 36px;
}

.separator {
  width: 100%;
  height: 0px;
  margin: 7px 0px;
  border-top: 1px solid rgba(16, 105, 170, .2);
}

.driver-info-name {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.driver-info-block {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.driver-info-title {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  color: #848484;
  margin-right: 15px;
  width: 160px;
  max-width: 160px;
}

.driver-info-content {
  flex-grow: 1;
}

.driver-info-row {
  display: block;
}
</style>
