<template>
  <modal
    ref="modal"
    v-model="show"
    width="728"
    :closable="false"
    title="Изменить данные о водителе"
    :loading="loading"
    ok-text="ОК"
    cancel-text="Отмена"
    @on-ok="onOk"
    @on-cancel="$emit('close')">
    <div style="display: flex; border: 1px dashed #dddee1; padding: 18px 0px; border-radius: 3px;">
      <Upload
        show-upload-list="false"
        type="drag"
        :format="['jpg','jpeg','png']"
        :on-success="handleSuccess"
        :on-format-error="handleFormatError"
        :on-exceeded-size="handleMaxSize"
        v-if="avatar === null"
        :max-size="2048"
        :multiple="false"
        :action="uploadAvatarUrl"
        style="display: flex; width: 84px; margin-left: 18px;">
        <div style="diplay: inline-block; width: 84px; height: 82px; line-height: 84px; text-align: center; border-radius: 3px;">
          <Icon type="camera" size="40" style="margin-top: 21px;"/>
        </div>
      </Upload>
      <template
        v-else-if="avatar && avatar.status === 'finished'"
        style="display: block; height: 84px;">
        <div class="upload">
          <img :src="avatar.url"/>
          <div class="upload-cover">
            <Icon type="ios-trash-outline" size="40" @click.native="removeAvatar"/>
          </div>
        </div>
      </template>
      <template
        v-else-if="avatar && avatar.status !== 'finished'">
        <Progress v-if="avatar.showProgress" :percent="avatar.percentage" hide-info></Progress>
      </template>
      <div style="display: flex; flex-direction: column; margin-left: 18px;">
        <Input placeholder="Введите полное имя..." v-model="driver.name" style="width: 189px; margin-bottom: 20px;"/>
        <Input placeholder="Введите водит. удост..." v-model="driver.drivingLicense" style="width: 189px;"/>
      </div>
      <Input placeholder="Введите номера телефонов по одному в строке..." type="textarea" v-model="driver.phone" style="width: 138px; height: 84px; margin-left: 18px;"/>
      <div style="display: flex; flex-direction: column; margin-left: 18px;">
        <Select v-model="driver.truck.id" placeholder="Выберите автомобиль..." not-found-text="Нет свободных машин" style="width: 189px; margin-bottom: 20px; font-size: 12px;">
          <Option value="null" key="null">Автомобиль не выбран</Option>
          <Option v-for="item in trucks" :value="item.id" :key="item.id">{{item.id !== 'null' ? `${item.name}, ${item.number}` : 'Автомобиль не выбран'}}</Option>
        </Select>
        <Select v-model="driver.trailer.id" placeholder="Выберите прицеп..." not-found-text="Нет свободных прицепов" style="width: 189px; font-size: 12px;">
          <Option value="null" key="null">Прицеп не выбран</Option>
          <Option v-for="item in trailers" :value="item.id" :key="item.id">{{item.id !== 'null' ? `${item.name}, ${item.number}` : 'Прицеп не выбран'}}</Option>
        </Select>
      </div>
    </div>
  </modal>
</template>

<script>
import api from '~/assets/api.js'

export default {
  props: ['show', 'driver', 'avatar', 'trucks', 'trailers'],
  data() {
    return {
      showAvatarEndpoint: api.endpoint + '/avatar/',
      uploadAvatarUrl: api.endpoint + '/upload-avatar',
      loading: true,
      timeToClose: 3
    }
  },
  methods: {
    handleSuccess (res, file) {
      file.url = api.endpoint + `/avatar/${file.response}`
      file.id = file.response
      this.avatar = file
    },
    handleFormatError (file) {
      this.$Notice.warning({
        title: 'Неверный формат файла',
        desc: 'Формат файла ' + file.name + ' неверен, пожалуйста выберите jpg или png.'
      });
    },
    handleMaxSize (file) {
      this.$Notice.warning({
        title: 'Размер файла слишком большой',
        desc: 'Файл ' + file.name + ' слишком большой, разрешается не более 2 мегабайт.'
      });
    },
    async onOk () {
      try {
        this.loading = true

        this.driver.name = this.driver.name.trim()
        this.driver.drivingLicense = this.driver.drivingLicense.trim()
        this.driver.phone = this.driver.phone.trim()

        if (this.avatar
          && this.driver.name
          && this.driver.drivingLicense
          && this.driver.phone
        ) {
          let driver = {
            id: this.driver.id,
            avatarId: this.avatar.id,
            name: this.driver.name,
            drivingLicense: this.driver.drivingLicense,
            phone: this.driver.phone.split('\n'),
            truckId: this.driver.truck.id !== 'null' ? this.driver.truck.id : null,
            trailerId: this.driver.trailer.id !== 'null' ? this.driver.trailer.id : null,
          }

          await api.saveDriver(driver)

          this.$emit('ok')
          this.$Message.success('Изменения сохранены');
        } else {
          this.$Notice.open({
            title: 'Все поля должны быть заполненны'
          });
        }
      } catch (err) {
        this.$Message.error('Изменения не были сохранены')
      } finally {
        this.$emit('close')
        this.loading = false
      }
    },
    removeAvatar () {
      this.avatar = null
    }
  }
}
</script>

<style>
.ivu-modal-header {
  border-bottom: none;
}

.ivu-modal-footer {
  border-top: none;
}
</style>
