<template>
  <div class="container">
    <header>
      <img class="logo" src="/ao-trans-logo-ru.svg"/>
      <div class="info-block-container">
        <InfoBlock :title="data.phone" comment="Позвоните нам сейчас" icon="fas fa-phone"/>
        <InfoBlock :title="data.address" :comment="data.area" icon="fas fa-map-marker-alt"/>
        <InfoBlock :title="workingRangeTitle" comment="Время работы" icon="far fa-clock"/>
      </div>
    </header>
    <div id="top-panel">
      <Menu/>
      <RequestCall/>
    </div>
  </div>
</template>

<script>
import api from '~/assets/api.js'
import InfoBlock from '~/components/InfoBlock.vue'
import RequestCall from '~/components/RequestCall.vue'
import Menu from '~/components/Menu.vue'

export default {
  components: {
    InfoBlock,
    RequestCall,
    Menu
  },
  props: ['data'],
  data () {
    return {
      days: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
    }
  },
  methods: {
    workingDaysTitle: function () {
      if (this.data.workingDays === null || this.data.workingDays === undefined) {
        return ''
      }

      return this.data.workingDays[0] !== this.data.workingDays[1]
        ? `${this.days[this.data.workingDays[0]]} - ${this.days[this.data.workingDays[1]]}`
        : `${this.days[this.data.workingDays[0]]}`
    },
    workingHoursTitle: function () {
      if (this.data.workingHours === null || this.data.workingHours === undefined) {
        return ''
      }

      return `${this.data.workingHours[0]} - ${this.data.workingHours[1]}`
    }
  },
  computed: {
    workingRangeTitle: function () {
      return `${this.workingDaysTitle()}: ${this.workingHoursTitle()}`
    }
  }
}
</script>

<style>
.container {
  min-width: 720px;
}

header {
  min-height: 220px;
  padding: 15px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  margin-right: 30px;
  min-height: 190px;
  max-height: 190px;
  min-width: 241px;
  max-width: 241px;
}

.info-block-container {
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
}
</style>
