<template>
  <div class="info-block">
    <div class="info-block-img">
      <i :class="icon" data-fa-transform="flip-h"></i>
    </div>
    <div class="info-block-content">
      <div class="info-block-title">
        {{title}}
      </div>
      <div class="info-block-comment">
        {{comment}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'comment', 'icon']
}
</script>

<style>
.info-block-img {
  width: 38px;
  height: 38px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1069aa;
  font-size: 23px;
}

.info-block {
  width: max-content;
  display: flex;
  align-items: center;
  margin: 15px;
}

.info-block-content {
  vertical-align: middle;
}

.info-block-title, .info-block-comment {
  text-align: left;
}

.info-block-title {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  line-height: 20px;
}

.info-block-comment {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #848484;
  font-weight: 400;
  line-height: 20px;
}
</style>
