<template>
  <div class="menu">
    <router-link class="menu-button" to="/">
      Главная
    </router-link>
    <router-link class="menu-button" to="/drivers">
      Водители
    </router-link>
  </div>
</template>

<style>
.menu {
  display: flex;
  align-items: center;
}

.menu-button {
  background-color: #034575;
  box-sizing: border-box;
  color: #FFFFFF;
  border: none;
  border-bottom: 3px solid #034575;
  padding: 17px 3px;
  padding-bottom: 30px;
  margin-right: 45px;
  border-radius: 2px;
  outline: none;
  font-style: normal;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.7px;
}

.menu-button:hover, .nuxt-link-exact-active {
  color: #fac312;
  cursor: pointer;
  border-bottom: 3px solid #fac312;
}
</style>
