<template>
  <div class="request-call">
    <span v-if="requested" class='request-call-result-text'>Спасибо, мы скоро Вам перезвоним!</span>
    <div v-else>
      <input v-model="number" class="request-call-input" placeholder="+38 0XX XXX XX XX" />
      <button class="request-call-button" v-on:click="requestCall">
        ЗАКАЗАТЬ ЗВОНОК
      </button>
    </div>
  </div>
</template>

<script>
import api from '~/assets/api.js'

export default {
  data() {
    return {
      number: '',
      requested: false
    }
  },
  methods: {
    async requestCall() {
      this.requested = true
      
      await api.requestCall({
        phone: this.number,
        timezoneOffset: new Date().getTimezoneOffset()
      })
    }
  }
}
</script>

<style>
.request-call {
  display: flex;
  align-items: center;
}

.request-call-result-text {
  color: #FFFFFF;
  font-style: normal;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.request-call-input {
  color: #333333;
  border: none;
  padding: 17px 30px;
  margin-right: 17px;
  border-radius: 2px;
  outline: none;
  font-style: normal;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.request-call-button {
  background-color: #fac312;
  color: #333333;
  font-style: normal;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: bold;
  padding: 17px 30px;
  border-radius: 2px;
  border: 1px solid #fac312;
}

.request-call-button:hover {
  background-color: #fff;
  color: #1069aa;
  cursor: pointer;
  border: 1px solid #1069aa;
}
</style>
