<template>
  <Menu class="topbar" mode="horizontal" theme="dark" :active-name="$route.name">
    <div class="layout-logo"></div>
    <div v-if="isLoggedIn" class="layout-nav">
      <router-link class="menu-button" to="/admin">
        <MenuItem name="admin">
          <i class="fas fa-th"></i>
          Главная
        </MenuItem>
      </router-link>
      <router-link class="menu-button" to="/admin/trucks">
        <MenuItem name="admin-trucks">
          <i class="fas fa-truck" data-fa-transform="flip-h"></i>
          Автопарк
        </MenuItem>
      </router-link>
      <router-link class="menu-button" to="/admin/trailers">
        <MenuItem name="admin-trailers">
          <i class="fas-icomoon fa-trailer"></i>
          Прицепы
        </MenuItem>
      </router-link>
      <router-link class="menu-button" to="/admin/drivers">
        <MenuItem name="admin-drivers">
          <i class="fas fa-user"></i>
          Водители
        </MenuItem>
      </router-link>
      <router-link class="menu-button" to="/admin/calls">
        <MenuItem name="admin-calls">
          <i data-fa-transform="flip-v" class="fas fa-phone"></i>
          Звонки
        </MenuItem>
      </router-link>
    </div>
    <span v-if="isLoggedIn" class="logout" v-on:click="logout()">
      <i class="fas fa-sign-out-alt"></i>
      Выход
    </span>
  </Menu>
</template>

<script>
import api from '~/assets/api.js'

export default {
  computed: {
    isLoggedIn() {
      if (process.browser) {
        return api.isLoggedIn()
      } else {
        return true
      }
    }
  },
  methods: {
    async logout () {
      await api.logout()
      this.$router.push('/admin/login')
    }
  }
}
</script>

<style>
.topbar {
  display: flex;
  justify-content: center;
}

.ivu-menu-dark {
  background: #01223b;
}

.ivu-menu-item-active {
  color: #fac312 !important;
  border-bottom: 3px solid #fac312;
  padding: 0px 3px !important;
  margin: 0px 20px !important;
  height: 60px;
}

.logout {
  color: rgba(255, 255, 255, .7);
  margin-left: 120px;
  cursor: pointer;
  transition: color .2s ease;
}

.logout:hover {
  color: rgba(255, 255, 255, 1);
}
</style>
