<template>
  <div id="to-top-button">
    <i class="fas fa-arrow-up"></i>
  </div>
</template>

<script>
if (process.browser) {
  let toTopButton = document.getElementById("to-top-button");

  toTopButton.addEventListener('transitionend', () => {
    toTopButton.style.display = toTopButton.classList.contains('to-top-button-disappearance') ? 'none' : 'flex'
  });

  window.addEventListener('scroll', (e) => {
    if (document.body.scrollTop > 90 || document.documentElement.scrollTop > 90) {
      toTopButton.style.display = "flex"
      void toTopButton.offsetWidth;
      toTopButton.classList.remove("to-top-button-disappearance");
      toTopButton.classList.add("to-top-button-appearance");
    } else {
      void toTopButton.offsetWidth;
      toTopButton.classList.remove("to-top-button-appearance");
      toTopButton.classList.add("to-top-button-disappearance");
    }
  })

  toTopButton.addEventListener('click', (e) => {
    window.scroll({
      top: 0,
      left: 0,
      behavior: 'smooth'
    })
  })
}
</script>

<style>
#to-top-button {
  position: fixed;
  display: none;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  color: #fff;
  border-radius: 30px;
  background: #fac312;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
}

#to-top-button:hover {
  color: #fac312;
  background: #fff;
}

.to-top-button-appearance {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
}

.to-top-button-disappearance {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}
</style>
