<template>
  <div>
  <TopBar/>
  <div class="container">
    <Form :label-width="0" style="margin: 24px 24px 0px 24px;">
      <FormItem>
        <div style="display: flex; border: 1px dashed #dddee1; padding: 18px 0px; border-radius: 3px;">
          <Upload
            v-if="newAvatar === null"
            ref="upload"
            :show-upload-list="false"
            :on-success="handleSuccess"
            :format="['jpg','jpeg','png']"
            :max-size="2048"
            :on-format-error="handleFormatError"
            :on-exceeded-size="handleMaxSize"
            :multiple="false"
            type="drag"
            :action="uploadAvatarUrl"
            style="display: inline-block; width:84px; margin-left: 18px;">
            <div style="width: 84px; height:82px; line-height: 84px; border-radius: 3px;">
              <Icon type="camera" size="40" style="margin-top: 21px;"></Icon>
            </div>
          </Upload>
          <template v-else-if="newAvatar.status === 'finished'">
            <div class="upload">
              <img :src="newAvatar.url">
              <div class="upload-cover">
                <Icon type="ios-trash-outline" @click.native="handleRemove(newAvatar)"></Icon>
              </div>
            </div>
          </template>
          <template v-else>
            <Progress v-if="newAvatar.showProgress" :percent="newAvatar.percentage" hide-info></Progress>
          </template>
          <div style="display: flex; flex-direction: column; margin-left: 18px;">
            <Input v-model="newName" placeholder="Введите полное имя..." style="width: 183px; margin-right: 18px; margin-left: 18px; margin-bottom: 20px;"></Input>
            <Input v-model="newDrivingLicense" placeholder="Введите водит. удост..." style="width: 183px; margin-right: 18px; margin-left: 18px;"></Input>
          </div>
          <Input v-model="newPhone" type="textarea" :rows="4" placeholder="Введите номера телефонов по одному в строке..." style="width: 124px; height: 84px; margin-right: 18px; margin-left: 18px;"></Input>
          <div style="display: flex; flex-direction: column; margin-left: 18px;">
            <Select v-model="truckId" not-found-text="Нет свободных машин" placeholder="Выберите автомобиль..." style="width: 183px; margin-right: 18px; margin-bottom: 20px; font-size: 12px;">
              <Option value="null" key="null">Автомобиль не выбран</Option>
              <Option v-for="item in freeTrucks" :value="item.id" :key="item.id">{{item.id !== 'null' ? `${item.name}, ${item.number}` : 'Автомобиль не выбран'}}</Option>
            </Select>
            <Select v-model="trailerId" not-found-text="Нет свободных прицепов" placeholder="Выберите прицеп..." style="width: 183px; font-size: 12px;">
              <Option value="null" key="null">Прицеп не выбран</Option>
              <Option v-for="item in freeTrailers" :value="item.id" :key="item.id">{{item.id !== 'null' ? `${item.name}, ${item.number}` : 'Прицеп не выбран'}}</Option>
            </Select>
          </div>
          <div style="display: flex; flex-direction: column; justify-content: center;">
            <Tooltip content="Добавить" style="margin-left: 19px;" placement="top">
              <Button type="success" :loading="loading" style="width: 72px; height: 32px;" v-on:click="add()">
                <Icon type="plus-round" size="20" style="margin-top: 0px;"></Icon>
              </Button>
            </Tooltip>
          </div>
        </div>
      </FormItem>
      <FormItem>
        <Table border no-data-text="Нет данных" style="margin: 24px 24px 0px 24px; width: 828px;" :columns="columns" :data="drivers"></Table>
      </FormItem>
    </Form>
    <DriverEdit
      :show="showDriverEdit"
      v-on:close="showDriverEdit = false"
      v-on:ok="onEdit"
      :driver="selectedDriver"
      :avatar="selectedDriverAvatar"
      :trucks="selectedTrucks"
      :trailers="selectedTrailers"/>
  </div>
  </div>
</template>

<script>
import Vue from 'vue';
import DriverEdit from '~/components/DriverEdit.vue'
import api from '~/assets/api.js'
import TopBar from '~/components/TopBar.vue'

export default {
  layout: 'admin',
  ssr: false,
  components: {
    DriverEdit,
    TopBar
  },
  data () {
    return {
      showDriverEdit: false,
      uploadAvatarUrl: api.endpoint + '/upload-avatar',
      selectedDriver: {truck: {id: null}, trailer: {id: null}},
      selectedDriverAvatar: null,
      selectedTrucks: [],
      selectedTrailers: [],
      newAvatar: null,
      newName: '',
      newDrivingLicense: '',
      newPhone: '',
      truckId: null,
      trailerId: null,
      columns: [
        {
          title: 'Фотография',
          key: 'photo',
          align: 'center',
          width: 120,
          render: (h, params) => {
            return h('img', {
              attrs: {
                src: api.endpoint + '/avatar/' + params.row.avatarId,
                class: 'driver-info-img'
              }
            })
          }
        },
        {
          title: 'Личная информация',
          render: (h, params) => {
            return h('div', {
              style: {
                display: 'block',
                width: '100%',
                lineHeight: '20px',
                whiteSpace: 'nowrap',
                textOverflow: 'ellipsis'
              }
            }, [
              h('strong', 'Имя:'),
              h('br'),
              h('span', params.row.name),
              h('br'),
              h('br'),
              h('strong', 'Водит. удост.:'),
              h('br'),
              h('span', params.row.drivingLicense)
            ]);
          }
        },
        {
          title: 'Номера телефонов',
          key: 'phone',
          width: 160,
          render: (h, params) => {
            return h('span', {
              style: {
                display: 'block',
                width: '100%',
                lineHeight: '20px',
                whiteSpace: 'nowrap',
                textOverflow: 'ellipsis'
              }
            }, params.row.phone.reduce((res, e) => {
              res.push(h('span', e))
              res.push(h('br'))
              res.push(h('br'))
              return res
            }, []));
          }
        },
        {
          title: 'Транспорт',
          render: (h, params) => {
            return h('div', {
              style: {
                display: 'block',
                width: '100%',
                lineHeight: '20px',
                whiteSpace: 'nowrap',
                textOverflow: 'ellipsis'
              }
            }, [
              h('strong', 'Автомобиль:'),
              h('br'),
              h('span', params.row.truckId ? `${params.row.truck.name}, ${params.row.truck.number}` : 'Не выбран'),
              h('br'),
              h('br'),
              h('strong', 'Прицеп:'),
              h('br'),
              h('span', params.row.trailerId ? `${params.row.trailer.name}, ${params.row.trailer.number}` : 'Не выбран')
            ]);
          }
        },
        {
            title: 'Действие',
            key: 'action',
            width: 108,
            align: 'center',
            render: (h, params) => {
                return h('div', {
                  style: {
                      display: 'flex'
                  }
                }, [
                  h('Tooltip', {
                      props: {
                          content: 'Изменить',
                          placement: 'top'
                      },
                      style: {
                          marginRight: '8px'
                      }
                  }, [
                    h('Button', {
                        props: {
                            type: 'primary',
                            size: 'small'
                        },
                        style: {
                            width: '32px',
                            height: '32px',
                            fontSize: '16px'
                        },
                        on: {
                            click: () => {
                                this.show(params.index)
                            }
                        }
                    }, [
                      h('Icon', {
                          attrs: {
                              type: 'edit',
                              size: '18'
                          }
                      })
                    ])
                  ]),
                  h('Tooltip', {
                      props: {
                          content: 'Удалить',
                          placement: 'top'
                      }
                  }, [
                    h('Button', {
                        props: {
                            type: 'error',
                            size: 'small'
                        },
                        style: {
                            width: '32px',
                            height: '32px',
                            fontSize: '16px'
                        },
                        on: {
                            click: () => {
                                this.remove(params.index)
                            }
                        }
                    }, [
                      h('Icon', {
                        attrs: {
                            type: 'trash-b',
                            size: '18'
                        }
                      })
                    ])
                  ])
                ]);
            }
        }
      ],
      drivers: [],
      freeTrucks: [],
      freeTrailers: [],
      loading: false
    }
  },
  async mounted () {
    if (!this.freeTrucks.length) {
      await this.updateFreeTrucks()
    }

    if (!this.freeTrailers.length) {
      await this.updateFreeTrailers()
    }

    if (!this.drivers.length) {
      this.drivers = await api.fetchDrivers()

      await Promise.all(this.drivers.map(async (e) => {
        await this.fetchTruckTrailer(e)
      }))
    }
  },
  async asyncData () {
    let res = {
      freeTrucks: await api.fetchFreeTrucks(),
      freeTrailers: await api.fetchFreeTrailers(),
      drivers: await api.fetchDrivers()
    }

    await Promise.all(res.drivers.map(async (e) => {
      e.truck = e.truckId ? await api.fetchTruck(e.truckId) : {id: 'null'}
      e.trailer = e.trailerId ? await api.fetchTrailer(e.trailerId) : {id: 'null'}
    }))

    return res
  },
  methods: {
    async updateFreeTrucks() {
      this.freeTrucks = await api.fetchFreeTrucks()
    },
    async updateFreeTrailers() {
      this.freeTrailers = await api.fetchFreeTrailers()
    },
    async fetchTruckTrailer(driver) {
      driver.truck = driver.truckId ? await api.fetchTruck(driver.truckId) : {id: 'null'}
      driver.trailer = driver.trailerId ? await api.fetchTrailer(driver.trailerId) : {id: 'null'}
    },
    handleSuccess (res, file) {
      file.url = api.endpoint + `/avatar/${file.response}`
      file.id = file.response
      this.newAvatar = file
    },
    handleRemove (file) {
      this.newAvatar = null
    },
    handleFormatError (file) {
      this.$Notice.warning({
        title: 'Неверный формат файла',
        desc: 'Формат файла ' + file.name + ' неверен, пожалуйста выберите jpg или png.'
      });
    },
    handleMaxSize (file) {
      this.$Notice.warning({
        title: 'Размер файла слишком большой',
        desc: 'Файл ' + file.name + ' слишком большой, разрешается не более 2 мегабайт.'
      });
    },
    async onEdit (isSuccessful) {
      let res = await api.fetchDrivers()

      await Promise.all(res.map(async (e) => {
        await this.fetchTruckTrailer(e)
      }))

      this.drivers = res

      await this.updateFreeTrucks()
      await this.updateFreeTrailers()
    },
    show (index) {
        this.selectedDriver = Object.assign({}, this.drivers[index])
        this.selectedDriver.phone = this.drivers[index].phone.join('\n')
        this.showDriverEdit = true

        this.selectedDriverAvatar = {
          id: this.drivers[index].avatarId,
          url: api.endpoint + `/avatar/${this.drivers[index].avatarId}`,
          status: 'finished'
        }

        this.selectedTrucks = this.freeTrucks.slice()
        if (this.selectedDriver.truckId) {
          this.selectedTrucks.push(this.selectedDriver.truck)
        }

        this.selectedTrailers = this.freeTrailers.slice()
        if (this.selectedDriver.trailerId) {
          this.selectedTrailers.push(this.selectedDriver.trailer)
        }
    },
    remove (index) {
      this.$Modal.confirm({
          title: 'Удалить данные о водителе?',
          content: `Имя: <b>${this.drivers[index].name}</b><br>Водит. удост.: <b>${this.drivers[index].drivingLicense}</b>`,
          okText: 'ОК',
          cancelText: 'Отмена',
          loading: true,
          onOk: async () => {
              try {
                await api.removeDriver(this.drivers[index].id)
                this.drivers.splice(index, 1)

                await this.updateFreeTrucks()
                await this.updateFreeTrailers()

                this.$Message.success('Изменения сохранены');
              } catch (err) {
                this.$Message.error('Изменения не были сохранены')
              } finally {
                this.$Modal.remove();
              }
          }
      })
    },
    async add () {
      try {
        this.loading = true

        this.newName = this.newName.trim()
        this.newDrivingLicense = this.newDrivingLicense.trim()
        this.newPhone = this.newPhone.trim()

        if (this.newAvatar
          && this.newName
          && this.newDrivingLicense
          && this.newPhone
        ) {
          let driver = {
            avatarId: this.newAvatar.id,
            name: this.newName,
            drivingLicense: this.newDrivingLicense,
            phone: this.newPhone.split('\n'),
            truckId: this.truckId !== 'null' ? this.truckId : null,
            trailerId: this.trailerId !== 'null' ? this.trailerId : null,
          }

          driver.id = await api.saveDriver(driver)
          await this.fetchTruckTrailer(driver)

          this.drivers.push(driver)

          this.newAvatar = null
          this.newName = ''
          this.newDrivingLicense = ''
          this.newPhone = ''
          this.truckId = null
          this.trailerId = null

          await this.updateFreeTrucks()
          await this.updateFreeTrailers()

          this.$Message.success('Изменения сохранены');
        } else {
          this.$Notice.open({
            title: 'Все поля должны быть заполненны'
          });
        }
      } catch (err) {
        this.$Message.error('Изменения не были сохранены')
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style>
.trucks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > div > .container {
  display: flex;
  justify-content: center;
}

.driver-info-img {
  max-height: 84px;
  max-width: 84px;
  width: auto;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  color: #1069aa;
  font-size: 23px;
  border-radius: 3px;
}

.ivu-table-wrapper {
  margin: 0px !important;
}

th > .ivu-table-cell {
  padding: 0px 18px;
}

.ivu-table-row > td {
  vertical-align: top;
}

.ivu-table-cell {
  padding: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ivu-upload {
  border-radius: 3px;
}

textarea.ivu-input {
  max-height: 84px;
  min-height: 84px;
  font-size: 12px;
  resize: none;
}

.upload {
  display: flex;
  align-items: center;
  width: 84px;
  height: 84px;
  text-align: center;
  line-height: 84px;
  margin-left: 18px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.upload img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.upload-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
}

.upload:hover .upload-cover {
  display: block;
}

.upload-cover i {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  padding: 21px 0px;
}
</style>
