<template>
  <div>
  <TopBar/>
  <div class="container">
    <Form :label-width="100" style="margin: 24px 24px 0px 24px;">
      <FormItem label="Телефон">
        <Input
          v-model="mainInfo.phone"
          placeholder="Введите контактный телефон"
          style="width: 200px;"/>
      </FormItem>
      <FormItem label="Адрес">
        <Input
          v-model="mainInfo.address"
          placeholder="Введите улицу и номер дома"
          style="width: 300px;"/>
      </FormItem>
      <FormItem label="Область">
        <Input
          v-model="mainInfo.area"
          placeholder="Введите город и область"
          style="width: 300px;"/>
      </FormItem>
      <FormItem label="Дни работы">
        <Row>
          <Col span="11">
            <Slider v-model="mainInfo.workingDays" :max="options.workingDaysMax" range :tip-format="tipFormad" show-stops style="width: 255px;"></Slider>
          </Col>
          <Col span="11">
            {{workingDaysTitle}}
          </Col>
        </Row>
      </FormItem>
      <FormItem label="Часы работы">
        <TimePicker format="HH:mm" :steps="[1, 5, 5]" type="timerange" placeholder="Выберите время" v-model="mainInfo.workingHours"></TimePicker>
      </FormItem>
      <FormItem label="Заголовок">
        <Input
          v-model="mainInfo.aboutTitle"
          placeholder="Введите заголовок описания"
          style="width: 600px;"/>
      </FormItem>
      <FormItem label="Описание">
        <Input
          v-model="mainInfo.aboutDescription"
          type="textarea"
          :autosize="{minRows: 10, maxRows: 20}"
          placeholder="Введите описание"
          style="width: 600px;"/>
      </FormItem>
      <FormItem>
        <Button type="primary" :loading="loading" v-on:click="save()">
          <span v-if="!loading">Сохранить</span>
          <span v-else>Сохранение...</span>
        </Button>
      </FormItem>
    </Form>
  </div>
  </div>
</template>

<script>
import Vue from 'vue';
import api from '~/assets/api.js'
import TopBar from '~/components/TopBar.vue'

if (process.browser) {
  const {
    Button,
    Input,
    Form,
    FormItem,
    Row,
    Col,
    TimePicker,
    Message
  } = require('iview')

  Vue.component('Button', Button)
  Vue.component('Input', Input)
  Vue.component('Form', Form)
  Vue.component('FormItem', FormItem)
  Vue.component('Row', Row)
  Vue.component('Col', Col)
  Vue.component('TimePicker', TimePicker)
  Vue.component('Message', Message)
}

export default {
  layout: 'admin',
  ssr: false,
  components: {
    TopBar
  },
  data () {
    return {
      mainInfo: {
        phone: null,
        aboutTitle: null,
        aboutDescription: null,
        workingDays: [0, 4],
        workingHours:  ['09:00', '18:00'],
        address: null,
        area: null,
      },
      days: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'],
      loading: false
    }
  },
  async mounted () {
    if (this.phone === null) {
      let headerInfo = await api.fetchHeaderInfo()
      let homeInfo = await api.fetchHomeInfo()
      Object.assign(this.mainInfo, headerInfo, homeInfo)
    }
  },
  async asyncData ({ params }) {
    let headerInfo = await api.fetchHeaderInfo()
    let homeInfo = await api.fetchHomeInfo()
    let res = {mainInfo: {}}
    Object.assign(res.mainInfo, headerInfo, homeInfo)
    return res
  },
  methods: {
    tipFormad: function (val) {
      return this.days[val]
    },
    async save () {
      try {
        this.loading = true
        await api.sendMainInfo(this.mainInfo)
        this.$Message.success('Изменения сохранены')
      } catch (err) {
        this.$Message.error('Изменения не были сохранены')
      } finally {
        this.loading = false
      }
    }
  },
  computed: {
    workingDaysTitle: function () {
      if (!this.mainInfo.workingDays) {
        return ''
      }

      return this.mainInfo.workingDays[0] !== this.mainInfo.workingDays[1]
        ? `${this.days[this.mainInfo.workingDays[0]]} - ${this.days[this.mainInfo.workingDays[1]]}`
        : `${this.days[this.mainInfo.workingDays[0]]}`
    },
    options: function() {
      return {
        workingDaysMax: 6
      }
    }
  }
}
</script>

<style>
  .container > div > .container {
    display: flex;
    justify-content: center;
  }
</style>
