<template>
  <div class="container">
    <Header :data="headerInfo"/>
    <div class="home-img-container">
      <img class="home-img" src="/home-1.jpg"/>
      <div class="home-img-text">Осуществляем грузоперевозки на самые длинные расстояния</div>
    </div>
    <div class="about-container">
      <div class="about-img-container">
        <img class="about-img" src="/truck.jpg"/>
      </div>
      <div class="about-description-container">
        <span class="about-description-title">{{aboutTitle}}</span>
        <br>
        <br>
        <br>
        <span class="about-description">
            <span v-html="aboutDescription"></span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import api from '~/assets/api.js'
import Header from '~/components/Header.vue'

export default {
  components: {
    Header
  },
  data () {
    return {
      aboutTitle: null,
      aboutDescription: null,
    }
  },
  async mounted () {
    if (this.aboutTitle === null) {
      let res = await api.fetchHomeInfo()
      res.headerInfo = await api.fetchHeaderInfo()
      Object.assign(this, res)
    }
  },
  async asyncData ({ params }) {
    let res = await api.fetchHomeInfo()
    res.headerInfo = await api.fetchHeaderInfo()
    return res
  }
}
</script>

<style>
.home-img-container {
  position: relative;
}

.home-img {
  filter: brightness(45%);
  width: 100%;
}

@media screen and (max-width: 1410px) {
    .home-img-text {
        font-size: 48px !important;
    }
}

@media screen and (max-width: 1200px) {
    .home-img-text {
        font-size: 44px !important;
    }
}

@media screen and (max-width: 1100px) {
    .home-img-text {
        font-size: 38px !important;
    }
}

@media screen and (max-width: 1000px) {
    .about-img-container {
      display: none;
    }
}

@media screen and (max-width: 950px) {
    .home-img-text {
        font-size: 36px !important;
    }
}

@media screen and (max-width: 900px) {
    .home-img-text {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 750px) {
    .home-img-text {
        font-size: 28px !important;
    }
}

.home-img-text {
  width: 100%;
  padding: 10%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 57px;
  font-weight: 700;
}

.about-container {
  display: flex;
  align-items: center;
}

.about-img {
  width: 100%;
  height: auto;
  padding: 20px 0px 60px 0px;
}

.about-img-container {
  flex: 2;
}

.about-description-title {
  color: black;
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 3px solid #fac312;
}

.about-description-container {
  padding: 60px 100px 60px 20px;
  flex: 1;
}

.about-description {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0px;
  text-align: left;
  color: #848484;
}
</style>
