<template>
  <div>
  <TopBar/>
  <div class="container">
    <Form :label-width="0" style="margin: 24px 24px 0px 24px;">
      <FormItem>
        <Table border no-data-text="Нет данных" style="margin: 24px 24px 0px 24px; width: 900px;" :columns="columns" :data="calls"></Table>
      </FormItem>
    </Form>
  </div>
</div>
</template>

<script>
import Vue from 'vue';
import api from '~/assets/api.js'
import TopBar from '~/components/TopBar.vue'

export default {
  layout: 'admin',
  ssr: false,
  components: {
    TopBar
  },
  data () {
    return {
      translations: {
        NEW: 'новая',
        INPROGRESS: 'в работе',
        FINISHED: 'обработанная'
      },
      columns: [
        {
          title: 'Номер телефона',
          key: 'phone',
          width: 160
        },
        {
          title: 'Дата и время',
          key: 'date',
          width: 140,
          render: (h, params) => {
            let date = new Date(this.calls[params.index].date)
            return h('span', `${date.toLocaleString().slice(0, -3)}`)
          }
        },
        {
          title: 'Комментарий',
          key: 'comment'
        },
        {
          title: 'Статус заявки',
          key: 'status',
          width: 140,
          render: (h, params) => {
            let status = this.calls[params.index].status
            let props = {
              NEW: {color: 'yellow'},
              INPROGRESS: {color: 'blue'},
              FINISHED: {}
            }
            return h('Tag', {props: props[status]},  this.translations[status])
          }
        },
        {
          title: 'Действие',
          key: 'action',
          width: 108,
          align: 'center',
          render: (h, params) => {
            return h('div', {
              style: {
                display: 'flex'
              }
            }, [
              h('Tooltip', {
                props: {
                  content: 'Изменить',
                  placement: 'top'
                },
                style: {
                  marginRight: '8px'
                }
              }, [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    width: '32px',
                    height: '32px',
                    fontSize: '16px'
                  },
                  on: {
                    click: () => {
                      this.show(params.index)
                    }
                  }
                }, [
                  h('Icon', {
                    attrs: {
                      type: 'edit',
                      size: '18'
                    }
                  })
                ])
              ]),
              h('Tooltip', {
                props: {
                  content: 'Удалить',
                  placement: 'top'
                }
              }, [
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    width: '32px',
                    height: '32px',
                    fontSize: '16px'
                  },
                  on: {
                    click: () => {
                      this.remove(params.index)
                    }
                  }
                }, [
                  h('Icon', {
                    attrs: {
                      type: 'trash-b',
                      size: '18'
                    }
                  })
                ])
              ])
            ])
          }
        }
      ],
      calls: [],
      notificationSound: null,
      loading: false
    }
  },
  async mounted () {
    this.notificationSound = new Audio('https://notificationsounds.com/notification-sounds/intuition-561/download/ogg')
    let lastCallsListSize = this.calls.length;

    let updateCallsList = async () => {
      this.calls.length = 0
      let res = await api.fetchCallRequests()
      this.calls = this.calls.concat(res)

      if (this.calls.length > lastCallsListSize && lastCallsListSize > 0) {
        this.notificationSound.play()
      }

      lastCallsListSize = this.calls.length;
    }

    updateCallsList()
    setInterval(updateCallsList, 1000 * 10) // 10 sec
  },
  async asyncData ({ params }) {
    return {
      calls: await api.fetchCallRequests()
    }
  },
  methods: {
    show (index) {
      let newComment = this.calls[index].comment
      let newStatus = this.calls[index].status

      this.$Modal.confirm({
        title: 'Изменить данные о заявке на звонок',
        okText: 'ОК',
        cancelText: 'Отмена',
        render: (h) => {
          return h('div', [
            h('br'),
            h('Select', {
              attrs: {
                value: newStatus,
                placeholder: this.translations[newStatus],
              },
              style: {
                width: 189,
                marginBottom: 20,
                fontSize: 12
              }
            }, [
              h('Option', {
                props: {
                  value: 'NEW',
                  key: 'NEW',
                },
                nativeOn: {
                  click: (val) => {
                    newStatus = 'NEW'
                  }
                }
              }, [
                h('span', 'новая')
              ]),
              h('Option', {
                props: {
                  value: 'INPROGRESS',
                  key: 'INPROGRESS'
                },
                nativeOn: {
                  click: (val) => {
                    newStatus = 'INPROGRESS'
                  }
                }
              }, [
                h('span', 'в работе')
              ]),
              h('Option', {
                props: {
                  value: 'FINISHED',
                  key: 'FINISHED'
                },
                nativeOn: {
                  click: (val) => {
                    newStatus = 'FINISHED'
                  }
                }
              }, [
                h('span', 'обработанная')
              ])
            ]),
            h('br'),
            h('br'),
            h('Input', {
              props: {
                value: newComment,
                autofocus: true,
                type: 'textarea',
                placeholder: 'Введите комментарий...',
                rows: 4
              },
              on: {
                input: (val) => {
                  newComment = val
                }
              }
            })
          ])
        },
        loading: true,
        onOk: async () => {
          try {
            if (newStatus.trim()) {
              let call = {
                id: this.calls[index].id,
                phone: this.calls[index].phone,
                date: this.calls[index].date,
                status: newStatus,
                comment: newComment
              }

              await api.requestCall(call)

              this.calls.length = 0
              let res = await api.fetchCallRequests()
              this.calls = this.calls.concat(res)

              this.$Message.success('Изменения сохранены');
            } else {
              this.$Notice.open({
                title: 'Необходимо выбрать статус заявки'
              });
            }
          } catch (err) {
            this.$Message.error('Изменения не были сохранены')
          } finally {
            this.$Modal.remove();
          }
        }
      })
    },
    async remove (index) {
      let date = new Date(this.calls[index].date)

      this.$Modal.confirm({
        title: 'Удалить данные о заявке на звонок?',
        content: `Номер телефона: <b>${this.calls[index].phone}</b><br>
          Дата и время: <b>${date.toLocaleString().slice(0, -3)}</b><br>
          Статус заявки: <b>${this.translations[this.calls[index].status]}</b><br>
          Комментарий: <b>${this.calls[index].comment}</b>`,
        okText: 'ОК',
        cancelText: 'Отмена',
        loading: true,
        onOk: async () => {
          try {
            await api.removeCallRequest(this.calls[index].id)
            this.calls.length = 0
            let res = await api.fetchCallRequests()
            this.calls = this.calls.concat(res)
            this.$Message.success('Изменения сохранены');
          } catch (err) {
            this.$Message.error('Изменения не были сохранены')
          } finally {
            this.$Modal.remove();
          }
        }
      })
    }
  }
}
</script>

<style>
.trucks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > div > .container {
  display: flex;
  justify-content: center;
}

.ivu-table-wrapper {
  margin: 0px !important;
}

.ivu-tag {
  cursor: default;
  line-height: 20px;
}

textarea.ivu-input {
  font-size: 12px;
}
</style>
