<template>
  <div>
  <TopBar/>
  <div class="container">
    <Form :label-width="0" style="margin: 24px 24px 0px 24px;">
      <FormItem style="display: flex; border: 1px dashed #dddee1; padding: 18px 0px; border-radius: 3px;">
        <Input v-model="newName" placeholder="Введите наименование..." clearable style="width: 224px; margin-right: 18px; margin-left: 18px;"></Input>
        <Input v-model="newNumber" placeholder="Введите номер..." clearable style="width: 224px; margin-right: 18px; margin-left: 18px;"></Input>
        <Tooltip content="Добавить" style="margin-left: 17px;" placement="top">
          <Button type="success" :loading="loading" style="width: 72px; height: 32px;" v-on:click="add()">
            <Icon type="plus-round" size="20" style="margin-top: 0px;"></Icon>
          </Button>
        </Tooltip>
      </FormItem>
      <FormItem>
        <Table border no-data-text="Нет данных" style="margin: 24px 24px 0px 24px; width: 628px;" :columns="columns" :data="trailers"></Table>
      </FormItem>
    </Form>
  </div>
  </div>
</template>

<script>
import Vue from 'vue';
import api from '~/assets/api.js'
import TopBar from '~/components/TopBar.vue'

export default {
  layout: 'admin',
  ssr: false,
  components: {
    TopBar
  },
  data () {
            return {
                newName: '',
                newNumber: '',
                columns: [
                    {
                        title: 'Наименование',
                        key: 'name',
                    },
                    {
                        title: 'Номер',
                        key: 'number'
                    },
                    {
                        title: 'Действие',
                        key: 'action',
                        width: 108,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', {
                              style: {
                                  display: 'flex'
                              }
                            }, [
                              h('Tooltip', {
                                  props: {
                                      content: 'Изменить',
                                      placement: 'top'
                                  },
                                  style: {
                                      marginRight: '8px'
                                  }
                              }, [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        width: '32px',
                                        height: '32px',
                                        fontSize: '16px'
                                    },
                                    on: {
                                        click: () => {
                                            this.show(params.index)
                                        }
                                    }
                                }, [
                                  h('Icon', {
                                      attrs: {
                                          type: 'edit',
                                          size: '18'
                                      }
                                  })
                                ])
                              ]),
                              h('Tooltip', {
                                  props: {
                                      content: 'Удалить',
                                      placement: 'top'
                                  }
                              }, [
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        width: '32px',
                                        height: '32px',
                                        fontSize: '16px'
                                    },
                                    on: {
                                        click: () => {
                                            this.remove(params.index)
                                        }
                                    }
                                }, [
                                  h('Icon', {
                                    attrs: {
                                        type: 'trash-b',
                                        size: '18'
                                    }
                                  })
                                ])
                              ])
                            ]);
                        }
                    }
                ],
                trailers: [],
              loading: false
            }
        },
        async mounted () {
          this.trailers.length = 0
          let res = await api.fetchTrailers()
          this.trailers = this.trailers.concat(res)
        },
        async asyncData ({ params }) {
          let res = {
            trailers: await api.fetchTrailers()
          }
          return res
        },
        methods: {
            show (index) {
                let newName = this.trailers[index].name
                let newNumber = this.trailers[index].number

                this.$Modal.confirm({
                    title: 'Изменить данные о прицепе',
                    okText: 'ОК',
                    cancelText: 'Отмена',
                    render: (h) => {
                      return h('div', [
                        h('br'),
                        h('Input', {
                          props: {
                            value: newName,
                              autofocus: true,
                              placeholder: 'Введите наименование...'
                          },
                          on: {
                            input: (val) => {
                              newName = val;
                            }
                          }
                        }),
                        h('br'),
                        h('br'),
                        h('Input', {
                          props: {
                            value: newNumber,
                            autofocus: true,
                            placeholder: 'Введите номер...'
                          },
                          on: {
                            input: (val) => {
                              newNumber = val;
                            }
                          }
                        })
                      ])
                    },
                    loading: true,
                    onOk: async () => {
                        try {
                          if (newName.trim() && newNumber.trim()) {
                            let trailer = {
                              id: this.trailers[index].id,
                              name: newName,
                              number: newNumber
                            }

                            await api.saveTrailer(trailer)

                            this.trailers[index].name = newName
                            this.trailers[index].number = newNumber

                            this.$Message.success('Изменения сохранены');
                          } else {
                            this.$Notice.open({
                              title: 'Все поля должны быть заполненны'
                            });
                          }
                        } catch (err) {
                          this.$Message.error('Изменения не были сохранены')
                        } finally {
                          this.$Modal.remove();
                        }
                    }
                })
            },
            remove (index) {
              this.$Modal.confirm({
                  title: 'Удалить данные о прицепе?',
                  content: `Наименование: <b>${this.trailers[index].name}</b><br>Номер: <b>${this.trailers[index].number}</b>`,
                  okText: 'ОК',
                  cancelText: 'Отмена',
                  loading: true,
                  onOk: async () => {
                      try {
                        await api.removeTrailer(this.trailers[index].id)
                        this.trailers.splice(index, 1)
                        this.$Message.success('Изменения сохранены');
                      } catch (err) {
                        this.$Message.error('Изменения не были сохранены')
                      } finally {
                        this.$Modal.remove();
                      }
                  }
              })
            },
            async add () {
              try {
                this.loading = true

                this.newName = this.newName.trim()
                this.newNumber = this.newNumber.trim()

                if (this.newName && this.newNumber) {
                  let trailer = {
                    name: this.newName,
                    number: this.newNumber
                  }
                  trailer.id = await api.saveTrailer(trailer)
                  this.trailers.push(trailer)
                  this.newName = ''
                  this.newNumber = ''
                  this.$Message.success('Изменения сохранены');
                } else {
                  this.$Notice.open({
                    title: 'Все поля должны быть заполненны'
                  });
                }
              } catch (err) {
                this.$Message.error('Изменения не были сохранены')
              } finally {
                this.loading = false
              }
            }
        }
}
</script>

<style>
.trucks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > div > .container {
  display: flex;
  justify-content: center;
}

.ivu-table-wrapper {
  margin: 0px !important;
}
</style>
