<template>
  <div class="container">
    <Header :data="headerInfo"/>
    <div class="drivers-container">
      <DriverInfo v-for="driver in drivers" :key="driver.name" :driver="driver"/>
    </div>
  </div>
</template>

<script>
import DriverInfo from '~/components/DriverInfo.vue'
import api from '~/assets/api.js'
import Header from '~/components/Header.vue'

export default {
  components: {
    DriverInfo,
    Header
  },
  data () {
    return {
      drivers: []
    }
  },
  async mounted () {
    if (!this.drivers.length) {
      res.headerInfo = await api.fetchHeaderInfo()
      let res = await api.fetchDrivers()
      await Promise.all(res.drivers.map(async (e) => {
        e.truck = e.truckId ? await api.fetchTruck(e.truckId) : 'Не назначен'
        e.trailer = e.trailerId ? await api.fetchTrailer(e.trailerId) : 'Не назначен'
      }))
      this.drivers = this.drivers.concat(res)
    }
  },
  async asyncData ({ params }) {
    let res = await api.fetchDrivers()
    await Promise.all(res.map(async (e) => {
      e.truck = e.truckId ? await api.fetchTruck(e.truckId) : 'Не назначен'
      e.trailer = e.trailerId ? await api.fetchTrailer(e.trailerId) : 'Не назначен'
    }))

    return {
      drivers: res,
      headerInfo: await api.fetchHeaderInfo()
    }
  }
}
</script>

<style>
.drivers-container {
  display: flex;
  padding: 40px 0px;
  flex-wrap: wrap;
  justify-content: center;
}
</style>
