<template>
  <div>
  <div class="topbar"></div>
  <div class="container">
    <Form :label-width="120" style="margin: 24px 24px 0px 24px; padding-top: 20vh;">
      <FormItem label="Адрес эл. почты">
        <Input
          v-model="email"
          placeholder="example@mail.com"
          style="width: 200px;"/>
      </FormItem>
      <FormItem label="Пароль">
        <Input
          v-model="password"
          placeholder="password"
          type="password"
          style="width: 200px;"/>
      </FormItem>
      <FormItem>
        <Button type="primary" v-on:click="login()">
          <span>Войти</span>
        </Button>
      </FormItem>
    </Form>
  </div>
  </div>
</template>

<script>
import Vue from 'vue';
import api from '~/assets/api.js'
import TopBar from '~/components/TopBar.vue'

export default {
  layout: 'admin',
  ssr: false,
  components: {
    TopBar
  },
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    async login () {
      try {
        await api.login(this.email, this.password)
        this.$router.push('/admin')
      } catch (err) {
        this.$Message.error('Неправильный адрес эл. почты или пароль')
      }
    }
  }
}
</script>

<style>
.trucks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topbar {
  width: 100%;
  height: 60px;
  background: #01223b;
}

.container > div > .container {
  display: flex;
  justify-content: center;
}

.ivu-table-wrapper {
  margin: 0px !important;
}

.ivu-tag {
  cursor: default;
  line-height: 20px;
}

textarea.ivu-input {
  font-size: 12px;
}
</style>
